<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joker.test.androidcppexamples">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ch03.Ch03_4Activity" android:label="数据类型"/>
        <activity android:name=".ch03.Ch03_5Activity" android:label="异常处理"/>
        <activity android:name=".ch03.Ch03_6Activity" android:label="局部和全局引用"/>
        <activity android:name=".ch03.Ch03_7Activity" android:label="线程"/>
        <activity android:name=".ch04.Ch04_3Activity" android:label="试用swig,使用cmake编译"/>
        <activity android:name=".ch04.Ch04_3MKActivity" android:label="试用swig,使用ndk-build编译"/>
        <activity android:name=".ch04.Ch04_4Activity" android:label="封装C语言代码"/>
        <activity android:name=".ch04.Ch04_8Activity" android:label="从原生代码中调用JAVA"/>
        <activity android:name=".ch07.Ch07Activity" android:label="ch07 Threads"/>
        <activity android:name=".ch08.EchoServerActivity" android:label="TCP server"/>
    </application>

</manifest>